body {
  background-color: #f8f8f8; }

* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 14px; }

.active{
  color: mediumpurple!important;
}

ul li {
  list-style-type: none; }

.nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999; }
.nav .menu {
  width: 40%;
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 6px 0; }
.nav .menu i {
  font-size: 20px;
  color: #969696; }

.my-music {
  position: absolute;
  width: 100%;
  top: 40px;
  margin-bottom: 60px; }
.my-music .my {
  background-color: white;
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-radius: 10px;
  margin: 4px 6px; }
.my-music .my .info {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center; }
.my-music .my .info .user-name {
  margin-left: 8px; }
.my-music .my .info .user-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block; }
.my-music .my .more {
  text-decoration: none;
  font-size: 12px;
  color: #969696; }
.my-music .my .more i {
  font-size: 12px; }
.my-music .content-list {
  background-color: white;
  padding: 10px 15px;
  margin-top: 10px; }
.my-music .content-list .item {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2; }
.my-music .content-list .item:last-child {
  border-bottom: none; }
.my-music .content-list .item i {
  color: mediumpurple;
  font-size: 16px;
  margin-right: 4px; }


/*弹出窗口*/
.operation{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  z-index: 9999;
}

.operation .background{
  background-color: #333333;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

 .operation-list {
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   z-index: 9999;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
  background-color: white;
  padding: 10px 15px;
  margin-top: 10px; }
.operation-list .item {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2; }
 .operation-list .item:last-child {
  border-bottom: none; }
 .operation-list .item i {
  color: mediumpurple;
  font-size: 16px;
  margin-right: 4px; }

.my-music .music-list .music-type {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px; }
.my-music .music-list .music-type .title-left span, .my-music .music-list .music-type .title-left i {
  color: #969696;
  font-size: 12px; }
.my-music .music-list .content {
  background-color: white;
  padding: 10px 15px; }
.my-music .music-list .content .item {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0; }
.my-music .music-list .content .item .item-left {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  align-items: center; }
.my-music .music-list .content .item .item-left .title {
  padding: 0 0 0 8px;
  font-size: 14px;
  display: block; }
.my-music .music-list .content .item .item-left .mun {
  font-size: 12px;
  color: #969696;
  padding-left: 8px; }
.my-music .music-list .content .item .item-left img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: inline-block; }

.footer {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  align-items: center;
  padding: 6px 15px;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 999; }
.footer .footer-left {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex; }
.footer .footer-left .music-info {
  margin-left: 8px;
  line-height: 15px; }
.footer .footer-left .music-info .author {
  font-size: 12px;
  color: #969696; }
.footer .footer-left .music-info span {
  display: block;
  font-size: 12px; }
.footer .footer-left img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block; }
.footer .footer-right i {
  font-size: 20px;
  margin-left: 8px; }

/*# sourceMappingURL=index.css.map */
